

*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
.app {
height: 100vh;
display: flex;
background-color: #020230;
color: aliceblue;
}

.main {
    width: 75%;
    background: linear-gradient(to bottom, rgba(0,0,0,0), #020230), url("./assets/902472-kbc.avif") center ;
    display: flex;
    flex-direction: column;
}

.top{
    height: 50%;
    position: relative;
    bottom: 1px;
}
.timer{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    border: 5px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: 700;
    position: absolute;
    bottom: 10px;
    left: 120px;
}

/* .answer:hover,
.answer.active {
    background: mediumblue;
} */
/* 
.answer.correct {
    animation: correct 3s ease forwards;
}

@keyframes correct {
    0%,
    22%, 
    42%,
    60% {
        background: mediumblue;
    }
    20%, 40% {
        background: linear-gradient(#0e0124, #22074d);
    }
    62%,
    100% {
        background: green;
    }
} */


.bottom{
    height: 50%;    

}

.pyramid{
    height: 540px;
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.moneyList{ 
    margin-top: 60px;
    list-style: none;
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column-reverse;
   
}

.moneyListItem{
    display: flex;
    align-items: center;
    padding: 2px;
    border-radius: 5px;
    margin-top: 4px;

}

.moneyListItem.active{
background-color: teal;
}

.moneyListItemNumber{
    font-size : 18px;
    font-weight: 100;
    width: 40%;
}

.moneyListItemAmount{
    font-size : 20px;
    font-weight: 100;
}


